


<div class="container"> 
    

  <div class="col">
    <div class="weather-card" [ngClass]="{rain: badWeather}">
      <div class="top">
        <div class="wrapper">
          <div class="mynav">
            <a href="javascript:;"><span class="lnr lnr-chevron-left"></span></a>
            <a href="javascript:;"><span class="lnr lnr-cog"></span></a>
          </div>
          <h1 class="heading" *ngIf="userWeather">{{userCity}}</h1>
          <h3 class="location" *ngIf="userWeather">Pressure {{userWeather.main.pressure}}</h3>
          <h3 class="location" *ngIf="userWeather">Humidity% {{userWeather.main.humidity}}</h3>
          <h3 class="location" *ngIf="userWeather"> Wind speed ngh {{userWeather.wind.speed}}</h3>         
          <p class="temp">
            <span class="temp-value">{{tempinC}}</span>
            <span class="deg">0</span>
            <a href="javascript:;"><span class="temp-type">C</span></a>
          </p>
        </div>
      </div>
      <div class="bottom">
        <div class="wrapper">
          <ul class="forecast">
            <a href="javascript:;"><span class="lnr lnr-chevron-up go-up"></span></a>
            <li class="active">
              <span class="date">{{today | date: 'HH:mm a '}}</span>
              <span *ngIf="!badWeather" class="lnr lnr-sun condition">
                <span class="temp">{{tempinC}}<span class="deg">0</span><span class="temp-type">C</span></span>
              </span>
              <span  *ngIf="badWeather" class="lnr lnr-cloud condition">
                <span class="temp">{{tempinC}}<span class="deg">0</span><span class="temp-type">C</span></span>
              </span>
            </li>
            <li>
                <span class="date"> max: {{tempMax}} </span>
            
                <span class="temp"> min: {{tempMin}} </span>              
              
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  </div>

 

